@media screen and (max-width: 419px) {
  #lezioni .row {
    background-color: #f2f2cd;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and 

/* .debug {
  background-color: rgba(255, 0, 0, 0.2);
} */